
{% liquid
  assign block_settings = block.settings
  assign product_resource = closest.product
  if request.visual_preview_mode and product_resource == blank
    assign product_resource = collections.all.products.first
  endif

  assign bundle_product = block_settings.product
  if bundle_product == blank
    assign bundle_product = product_resource.metafields.product.bundle.value
  endif  

  assign property_name = 'properties[custom-property]' | replace: 'custom-property', block_settings.property_key

  assign product_form_id = 'BuyButtons-ProductForm-section.id' | replace: 'section.id', section.id
%}

{% if bundle_product != blank %}
  <metafield-bundle
    class="metafields-bundle spacing-style border-style{% if block_settings.inherit_color_scheme == false %} color-{{ block_settings.color_scheme }}{% endif %}"
    data-product-id="{{ product.id }}"
    data-bundle-id="{{ bundle_product.id }}"
    style="
        {% render 'spacing-style', settings: block_settings %}
        {% render 'border-override', settings: block_settings %}"
    {% if request.visual_preview_mode %}
      data-shopify-visual-preview
    {% endif %}
    {{ block.shopify_attributes }}
  >
    <div class="metafields-bundle__header">
      {% content_for 'blocks', closest.product: bundle_product %}
    </div>

    <div class="metafields-bundle__options __field" role="list">
      {%- assign input_type = block_settings.input_type | default: 'radio' -%}      
        <input type="hidden" name="bundle" ref="metafield-bundle[{{ block_settings.property_key }}]" value="{{ bundle_product.selected_or_first_available_variant.id }}" form="{{ product_form_id }}">
        {% for option in bundle_product.options_with_values %}
            {% for product_option_value in option.values %}
                {% liquid
                  assign input_id = 'BundleOption-' | append: block.id | append: '-' | append: forloop.index
                  assign bundle_variant = product_option_value.variant
                  assign value = product_option_value.variant.title
                  if input_type == 'checkbox'
                    assign value = bundle_product.title
                  endif
                %}
                <div
                  class="{{ input_type }}"
                >
                  <input 
                    {% if block_settings.required %}
                      required
                    {% endif %}
                    {% if block_settings.checked and forloop.first %}
                      checked
                    {% endif %}
                    type="{{ input_type }}"
                    name="{{ property_name }}"
                    value="{{ value }}"
                    id="{{ input_id }}"
                    class="{{ input_type }}__input"
                    data-label="{{ product_option_value }}"
                    form="{{ product_form_id }}"
                    data-variant-id="{{ product_option_value.variant.id }}"
                  >
                <label for="{{ input_id }}" class="{{ input_type }}__label" role="{{ input_type }}">
                    {% if input_type == 'checkbox' %}
                      {{ 'icon-checkmark.svg' | inline_asset_content }}
                    {% endif %} 
                   <span class="{{ input_type }}__label-text">
                    {% if product_option_value == 'Default Title' %}
                        {{ 'products.add_product' | t: product: bundle_product.title }}
                      {% else %}
                        {{ product_option_value }}
                    {% endif %}
                   </span>
                   {% if bundle_variant.price > 0 %}
                      <span class="">
                        <span role="group">
                            <span class="metafields-bundle__price">{{ bundle_variant.price | money }}</span>
                            <span>{{ 'content.price_tax' | t }}</span>
                        </span>
                        <span role="group">
                          {%- liquid
                              # selected_variant.price esta en centavos
                              assign price_with_tax_cents = bundle_variant.price | times: 1.19 | round
                              assign price_with_tax = price_with_tax_cents | money
                          -%}
                          (<span class="price-tax">{{ 'content.amount_tax' | t: amount: price_with_tax }}</span>)
                        </span>
                      </span>
                    {% endif %}
                </label>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
  </metafield-bundle>
{% endif %}

{% stylesheet %}
  metafield-bundle{
      .metafields-bundle__header{
        display: grid;
        gap: var(--gap-sm);
      }


      .radio{
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: start;
        gap: var(--gap-2xs);
      }

      .radio__label,
      .checkbox__label{
        line-height: 1;
        display: grid;
        gap: var(--gap-2xs);
        grid-template-columns: auto 1fr;
        width: 100%;
      }

      .checkbox__label{
        grid-template-columns: 16px 1fr;

        > span:last-child{
           grid-column: 2 / -1;
        }
      }

      .radio__label-text,
      .checkbox__label-text{
        padding: 0;
        font-weight: var(--font-heading--weight);
      }

      .radio__label-text{
        padding: 0;
        grid-column: 1 / -1;
      }

      .metafields-bundle__options{
        display: grid;
      }

      .metafields-bundle__options div{
        padding: var(--padding-lg);
        padding-left: 0;
      }
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Metafields bundle",
  "tag": null,
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "Product"
    },
    {
      "type": "select",
      "id": "input_type",
      "label": "Input type",
      "options": [
        {
          "value": "radio",
          "label": "Radio"
        },
        {
          "value": "checkbox",
          "label": "Checkbox"
        }
      ],
      "default": "radio"
    },
    {
      "type": "checkbox",
      "id": "required",
      "label": "Required",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "checked",
      "label": "checked",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "add_property",
      "label": "Add selection as property",
      "default": false
    },
    {
      "type": "text",
      "id": "property_key",
      "label": "t:settings.product_custom_property.key",
      "default": "t:settings.product_custom_property.default_property_key",
      "info": "t:settings.product_custom_property.key_info",
      "visible_if": "{{ block.settings.add_property }}"
    },
    {
      "type": "text",
      "id": "error_text",
      "label": "Error text"
    },
    {
      "type": "header",
      "content": "t:content.appearance"
    },
    {
      "type": "checkbox",
      "id": "inherit_color_scheme",
      "label": "t:settings.inherit_color_scheme",
      "default": true
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:settings.color_scheme",
      "default": "scheme-1",
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    },
    {
      "type": "range",
      "id": "border_radius",
      "label": "t:settings.border_radius",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:content.padding"
    },
    {
      "type": "range",
      "id": "padding-block-start",
      "label": "t:settings.top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-block-end",
      "label": "t:settings.bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-inline-start",
      "label": "t:settings.left",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-inline-end",
      "label": "t:settings.right",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "text"
    },
    {
      "type": "text-inline"
    }
  ],
  "presets": [
    {
      "name": "Metafields bundle",
      "category": "t:categories.product",
      "settings": {
        "product": "{{ closest.product }}"
      }
    }
  ]
}
{% endschema %}
